@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --primaryColor: 	#198754;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}
.navContainer {
    width: 100%;
    padding-left: 90px;
    display: inline-flex;
}
#navbar {
    padding:0;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    background-color: white;
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 18px;
}
/* search box */
.search-input input{
    width: 100%;
    outline: none;
    border: var(--primaryColor) 1px solid;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    height: 30px;
    overflow-y: auto;
  }
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 50%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }
.recruitment-container {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid pink;
    border-radius: 100px;
    min-height: 500px;
    font-family: 'Courier New', Courier, monospace;
}
.recruitment-title {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    
}
.recruitment-info{
    padding-left: 30px;
    line-height: 30px;
    font-size: 20px;
}
@media screen and (min-width: 1440px) {

}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
  
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #brand-img img{
    width: 100%;
  }
}
@media screen and (min-width: 426px) and (max-width: 767px) {
  #ft-address,#ft-contact{
    text-align: center;
  }
  #brand-img img{
    width: 75%;
  }
  #navlink{
    padding: 0;
  }
  #brand-intro{
    padding: 50px;
  }
}
@media screen and (min-width: 376px) and (max-width: 425px) {
  #ft-address,#ft-contact{
    text-align: center;
  }
  #brand-img img{
    width: 75%;
  }
  #navlink{
    padding:0;
  }
  #brand-intro{
    padding: 50px;
  }
  #navText{
    font-size: 12px;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  #ft-address,#ft-contact{
    text-align: center;
  }
  #brand-img img{
    width: 75%;
  }
  #navlink{
    padding:0;
  }
  #hero-welcome{
    font-size: 16px;
  }
  #hero-welcome-2{
    font-size: 22px;
  }
  #brand-intro{
    padding: 50px;
  }
  #navText{
    font-size: 12px;
    font-weight: bold;
  }
}
@media screen and (max-width: 320px) {
  #ft-address,#ft-contact{
    text-align: center;
  }
  #brand-img img{
    width: 50%;
  }
  #navlink{
    padding:0;
  }
  #hero-welcome{
    font-size: 12px;
  }
  #hero-welcome-2{
    font-size: 16px;
  }
  #brand-intro{
    padding: 50px;
  }
  #navText{
    font-size: 10px;
    font-weight: bold;
  }
}