@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --primaryColor: 	#198754;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}
.navContainer {
    width: 100%;
    padding-left: 90px;
    display: inline-flex;
}
#navbar {
    padding:0;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    background-color: white;
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 18px;
}
.form_container{
    width: 400px;
    background: white;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 550px;
}
.form_container h2{
    text-align: center;
}
.form_row{
    padding: 10px;
}
.form_label{
    min-width: 100px;
}
.form_btn{
    text-align: center;
    line-height: 50px;
    padding: 10px;
}
/* search box */
.search-input input{
  width: 100%;
  outline: none;
  border: var(--primaryColor) 1px solid;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  height: 30px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 50%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}
/* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(63, 63, 63, 0.5);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 75px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
  /* --------------- End of Cart ---------------- */
  @media screen and (min-width: 1440px) {

  }
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    
  }
  @media screen and (min-width: 992px) and (max-width: 1023px) {
    
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #brand-img img{
      width: 100%;
    }
  }
  @media screen and (min-width: 426px) and (max-width: 767px) {
    #ft-address,#ft-contact{
      text-align: center;
    }
    #brand-img img{
      width: 75%;
    }
    #navlink{
      padding: 0;
    }
    #brand-intro{
      padding: 50px;
    }
  }
  @media screen and (min-width: 376px) and (max-width: 425px) {
    #ft-address,#ft-contact{
      text-align: center;
    }
    #brand-img img{
      width: 75%;
    }
    #navlink{
      padding:0;
    }
    #brand-intro{
      padding: 50px;
    }
    #navText{
      font-size: 12px;
    }
  }
  @media screen and (min-width: 321px) and (max-width: 375px) {
    #ft-address,#ft-contact{
      text-align: center;
    }
    #brand-img img{
      width: 75%;
    }
    #navlink{
      padding:0;
    }
    #hero-welcome{
      font-size: 16px;
    }
    #hero-welcome-2{
      font-size: 22px;
    }
    #brand-intro{
      padding: 50px;
    }
    #navText{
      font-size: 12px;
      font-weight: bold;
    }
  }
  @media screen and (max-width: 320px) {
    #ft-address,#ft-contact{
      text-align: center;
    }
    #brand-img img{
      width: 50%;
    }
    #navlink{
      padding:0;
    }
    #hero-welcome{
      font-size: 12px;
    }
    #hero-welcome-2{
      font-size: 16px;
    }
    #brand-intro{
      padding: 50px;
    }
    #navText{
      font-size: 10px;
      font-weight: bold;
    }
  }