@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --primaryColor: 	#198754;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}
.navContainer {
    width: 100%;
    padding-left: 90px;
    display: inline-flex;
}
#navbar {
    padding:0;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    background-color: white;
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 18px;
}
.recruitment-container {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid pink;
    border-radius: 100px;
    min-height: 500px;
    font-family: 'Courier New', Courier, monospace;
}
.recruitment-title {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    
}
.recruitment-info{
    padding-left: 30px;
    line-height: 30px;
    font-size: 20px;
}